{% extends 'base.htm' %}
{% block resign %}
{% load tag_menu %}
{% Menu %}
<div class="container margintop">
    <h1>Đăng Ký Tài Khoản</h1>
<form action="/resign" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label>Tên Đăng Nhập:</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
    <small  class="form-text text-muted">không chứa khoảng trống và ký tự đặc biệt</small>
  </div>
  <div class="form-group">
    <label >Mật Khẩu:</label>
    <input type="password" class="form-control"  placeholder="Password" name="password1">
    <small  class="form-text text-muted">Mật khẩu ít nhất 8 ký tự, chứa cả chữ và số</small>
  </div>
  <div class="form-group">
    <label>Nhập Lại Mật Khẩu</label>
    <input type="password" class="form-control"  placeholder="Password" name="password2">
  </div>
  {% if error is not None %}
  <p>  <small  class="form-text text-muted">{{error}}</small></p>
  {% endif%}
  <button type="submit" class="btn btn-primary ">Đăng Ký Tài Khoản</button>
  {% if succes is not None %}
  <p>  <small  class="form-text text-muted">{{succes}}</small></p>
  {% endif%}
</form>
</div>


<style>
.margintop{margin-top: 60px;
  width:500px}
@media only screen and (max-width: 480px){
  .margintop{width:300px}}
  @media only screen and (max-width: 768px){
  .margintop{width:400px}}
</style>

{% endblock %}