{% extends 'base.htm' %}
{% load static %}
{% block TestSlide %}
<link rel="stylesheet" type="text/css" href="{% static 'css\test.css' %}">
<h1>testsss</h1>

<div class="container Khung1">
    <div class="itemt">
        <div class="item-product">
            khung 1
        </div>

        <div class="item-product">
            khung 2
        </div>

        <div class="item-product">
            khung 3
        </div>
    </div>

    <div class="itemt">
        <div class="item-product">
            khung 4
        </div>

        <div class="item-product">
            khung 5
        </div>

        <div class="item-product">
            khung 6
        </div>
    </div>

    <div onclick="prev()" class="prev Khung1-nut">
        <span>leff</span>
    </div>
    <div onclick="next()" class="next Khung1-nut">
        <span>right</span>
    </div>
</div>

<div class="container d-flex justify-content-center">
<div class="Slide-warp">
    <div class="itemWarp">
    <div class="itemTest">1</div>
    <div class="itemTest">2</div>
    <div class="itemTest">3</div>
    <div class="itemTest">4</div>
    <div class="itemTest">5</div>
    <div class="itemTest">6</div>
    <div class="itemTest">7</div>
    </div>
</div>
</div>
<button onclick="left()">Trái</button>
<button onclick="right()">Phải</button>

<script>
    var itemWarp=$('.itemWarp')
    var count=0
    var countLast=$('.itemTest').length-1
    function right(){
        if (count>=countLast){
            count=0
            itemWarp.css({'margin-left':count +'px'})
        }
        else{
        count++
        itemWarp.css({'margin-left':-200*count +'px'})
        }   
    }
    function left(){
        if (count<=0){
            count=countLast
            itemWarp.css({'margin-left':-200*count +'px'})
        }
        else{
        count--
        itemWarp.css({'margin-left':-200*count +'px'})
        }   
    }


    console.log()
</script>



<script>
    var slideIndex=1
    show(slideIndex)
   function show(n){
       var slide=$('.itemt')
       if(n<0){slideIndex= slide.length-1}
       if(n>=slide.length){slideIndex=0}
   
       for(var i=0;i<slide.length;i++){
       var $item=$(slide[i])
       $item.removeClass('itemt-active')
       }
       var $item1=$(slide[slideIndex])
       $item1.addClass('itemt-active')
   
   }
   
   function next(){
   slideIndex +=1
   show(slideIndex)
   }
   function prev(){
   slideIndex -=1
   show(slideIndex)
   }
   
   </script>
{% endblock %}
