{% extends 'base.htm' %}
{% block ProductDetail %}
{% load static %}
{% load tag_menu %}
{% Menu %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Product/ProductDetail.css' %}">
<div>
<div class="container ProductDetail" >
    <div class='row '>

        <div class="col-lg-3 SanPhamBanChay">
            <div class="SanPhamBanChayContent">
                <ul class="list-group">
                    <li class="list-group-item active" >SẢN PHẨM BÁN CHẠY</li>
                    {% for i in products %}
                    <li class="list-group-item " ><a href="/sanpham/{{i.slug}}" style="display: block;">{{i.name}}</a></li>
                    {% endfor %}
                  </ul>
            </div>
        </div>

        <div class="col-lg-4 col-12 d-flex justify-content-center ">
            <img style="width: 100%; height: 25rem; object-fit: cover;" class="img" src="https://grouppicture.s3-ap-southeast-1.amazonaws.com/{{product.image}}">
        </div>

        <div class="col-lg-5 col-12">
            <h3 id='ProductName' style="color: rgb(124, 41, 192);" class=''>{{product.name}}</h3>
            <li>Suspendisse quos? Tempus cras iure temporibus?
            Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</li>
            <li><strong>Thương Hiệu: <a  style="text-decoration: none;color: rgb(124, 41, 192)">{{product.thuongHieu}}</a></strong></li>
            <li><strong>Giá: <span style="color: rgb(124, 41, 192)">${{product.price}}</span></strong></li>
            <li><strong>Kích Thước:{% for size in sizes %} {{size}} {% endfor %}</strong></li>
            <select id='ProductKichThuoc' class="form-select form-select-sm m-2" style="color: rgb(124, 41, 192);font-weight: bold;" name='kichthuoc'>
                {% for size in sizes %}
                <option  value="{{size}}">{{size}}</option>
                {% endfor %}
            </select>
            <li><strong>Độ Dày:</strong></li>
            <select id='ProductDoDay' class="form-select form-select-sm m-2" style="color: rgb(124, 41, 192);font-weight: bold;" name='doday'>
                {% for doday in dodays %}
                <option  value="{{doday}}">{{doday}}</option>
                {% endfor %}
            </select>
            <div class='cart mt-2'>
                <li>Số Lượng:</li>
                  <div class='d-flex m-2'>
                    <button id='minusId' class='btn btn-primary' onmouseup="clickMinus()">-</button>
                    <input type="number" class="form-control mx-2" id="productNumber" value="1" min='1';">
                    <button id="addId" class='btn btn-primary' onmouseup="clickAdd()">+</button>
                  </div> 
            </div>        
            <button class="btn btn-primary mt-1 Addtocard" onmouseup="clickAddToCard()">Add To Card</button>
        </div>

    </div>
    <div class='row mt-3'>
        <div class="col-lg-3 SanPhamBanChay"></div>
        <div class="col-lg-9 col-12">

            <h2 style="color:red">Đánh Giá Sản Phẩm: </h2>
            {% if user.is_authenticated %}
            <button onmouseup="clickLike()" class="btn btn-primary like">Like</button>
            <button onmouseup="clickLike()" class="btn btn-secondary liked">Đã Like</button><a id='idLike'>{{likes}}</a>
            <form action="" method="post">
                {% csrf_token %}
                <div class="">
                    <textarea class="p-2" style="border-radius: 99px;width: 100%;height: 40px;"
                    id='comment'
                    name="comment"
                    placeholder="Đánh Giá Của Bạn" ></textarea>
                </div>
                <input class="btn btn-primary" style="width: 100%;" type="submit" value="ĐĂNG NHẬN XÉT" onclick="return KiemTraComment()">
            </form>
            {% else %}
            {{likes}}
            <a onmouseup="clickLoginShow()" class="btn btn-primary">Đăng Nhập Để Nhận Xét</a>
            {% endif %}
            <div class="container" style="background-color: whitesmoke;padding-top: 1rem;">
                
                
                {% for review in comments %}
                <div class="m-2">
                    <div class="shadow" style="display: inline-block;border-radius: 15px; background-color: white;">
                        <div class="p-1" style="border-bottom:1px solid rgba(193, 223, 202, 0.63);">
                            <img style="width:30px;height: 30px; border-radius: 30px;" src="{% static 'media\IMAGE_PTS\sizemobi1.jpg' %}" class="" alt="...">
                            <strong class="me-auto">{{review.user}}</strong>
                            <small class="text-muted">{{review.date}}</small>
                           
                          </div>
                          <p class="p-2">{{review.comment}}</p>
                    </div>
                </div>
                {% endfor %}
                
                
             
              </div>

            
            
            
            
            
        </div>

    </div>

</div>

<div id='alert' class="alertNone alert alert-warning mt-3" style="text-align: center;" role="alert">
    <strong>SẢN PHẨM ĐÃ ĐƯỢC THÊM VÀO GIỎ HÀNG, <a class="text-black" style="text-decoration: none;" href="#">VỀ TRANG CHỦ</a></strong>
  </div>
</div>


<!-- ĐĂNG NHẬP TRONG TRANG HIỆN TẠI -->

<div onmouseup="clickRemoveBoxLogin()" class='WarpDisplayLogin'></div>
    <div class="Box-Login shadow">
    <div class="form-group">
    <small id='result' class="form-text text-muted"></small>

      <label style="font-weight: bolder;">TÊN ĐĂNG NHẬP</label>
      <input id='username' type="text" class="form-control"  placeholder="UserName" style="width: 100%;">
      <small id="usernameHelp" class="form-text text-muted">không chứa khoảng trống và ký tự đặc biệt</small>
    </div>
    <div class="form-group">
      <label style="font-weight: bolder;">Mật Khẩu</label>
      <input id='password' type="password" class="form-control" placeholder="********" style="width: 100%;">
      <small id="usernameHelp" class="form-text text-muted">Mật khẩu ít nhất 8 ký tự, chứa cả chữ và số</small>
    </div>
    <div class="mt-2 d-flex justify-content-between">
    <button onmouseup="clickLoginPost()" class="btn btn-warning SizeBtn" >Login</button>
    <button onmouseup="clickRemoveBoxLogin()" class="btn btn-primary SizeBtn " >Close</button>
    </div>
</div>

<script>
     function pageRedirect() {
        window.location.replace("/nem");
    } 
    
    function alertShow(){
        $('#alert').removeClass('alertNone')
    }

    function clickAdd(){
        numberProduct=$('#addId').prev().val()
        $('#addId').prev().val(Number(numberProduct)+1)
    }
    function clickMinus(){
        numberProduct=$('#minusId').next().val()
        if (Number(numberProduct)<=1){
            $('#minusId').next().val(1)
        }
        else
            {$('#minusId').next().val(Number(numberProduct)-1)}
    }
    function clickAddToCard (){
        var ProductName= $('#ProductName').text()
        var ProductDoDay= $('#ProductDoDay :selected').text()
        var ProductNumber=$('#minusId').next().val()
        var ProductKichThuoc=$('#ProductKichThuoc :selected').text()
        $.ajax({
            type: 'POST',
            url: '/card',
            data: { 'ProductName':ProductName,
            'ProductDoDay': ProductDoDay,
            'ProductKichThuoc':ProductKichThuoc,
            'ProductNumber':ProductNumber,
            csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function() {
               alert('SẢN PHẨM ĐÃ THÊM VÀO GIỎ HÀNG, Về Trang Chủ')
               alertShow()
               pageRedirect()
            }
        })
    }

   function KiemTraComment(){
       comment=$('#comment').val()
       if (comment==''){
        alert('Vui lòng Nhập Nhận Xét')
        return false
           
       }
       else{
        alert('Nhận Xét Của Bạn Đã Được Đăng Thành Công')
        return true}
   }
   $("textarea").each(function () {
  this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;width:100%;border-radius:20px");
}).on("input", function () {
  this.style.height = "auto";
  this.style.height = (this.scrollHeight) + "px";
});
   
function clickLike(){
        $.ajax({
            type: 'POST',
            url: '',
            data: { 'like':'like',
            csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function(data) {
               alert('SẢN PHẨM ĐÃ THÊM VÀO GIỎ HÀNG, Về Trang Chủ')

               console.log(data.like)
               $('#idLike').text(data.like)
            }
        })
    }

// post page LOGIn
    function loadPageCurrent() {
        window.location.replace("");// trả về page hiện tại
    }
    function clickLoginShow(){
        $('.WarpDisplayLogin').addClass('login-active')// click hiện box Login 
        $('.Box-Login').addClass('login-active')
    }
    function clickRemoveBoxLogin(){
        $('.WarpDisplayLogin').removeClass('login-active')// click xóa box Login
        $('.Box-Login').removeClass('login-active')
    }
    function clickLoginPost(){
        var username= $('#username').val() // clich post dữ liệu login đến page login để đăng nhập
        var password= $('#password').val()
        $.ajax({
            type: 'POST',
            url: '/login',
            data: { 'username':username,'password':password,
            csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function(data) {
               
               
               var content = $(data).find("#error").text();// tìm id erro lấy text
               if(content ==''){
                console.log(content)
                clickRemoveBoxLogin()
                alert('ĐĂNG NHẬP THÀNH CÔNG')
                loadPageCurrent()

               }
               else{$("#result").text(content)} // thêm text vào id result
                
            }
        })
    }

</script>

{% endblock %}