
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Menu.css' %}">
<div class="Menu-H" style="background-color: #0050c2; height: 120px;" >
  <div class="d-flex">
  <div class="d-flex flex-column justify-content-center" style="margin-left: 80px;">
    <h2><a class="" style="font-weight: bolder;color:chartreuse;">BEDLINH</a></h2>
    <li style="list-style-type: none;font-weight: bold;"><a style="color:chartreuse">Ngủ ngon, đủ giấc</a></li>
    
  </div>
  <div style="margin-left: auto;;"><img style="height: 120px;" class="" src="{% static 'media\IMAGE_PTS\baner_changagoi.jpg' %}" ></div>
  <div style=" margin-right: 40px"><img style="height: 120px;" class="" src="{% static 'media\IMAGE_PTS\baner_changagoi1.jpg' %}" ></div>
  <div class="d-flex flex-column justify-content-center" style="margin-right: 80px;">
    <h2><a class="" style="font-weight: bolder;color:chartreuse;">BEDLINH</a></h2>
    <li style="list-style-type: none;font-weight: bold;"><a style="color:chartreuse">Ngủ ngon, đủ giấc</a></li>
    
  </div>
  </div>
  
</div>


<div class="d-flex align-items-center Menu-Main" style="background-color:#0045a7;height:60px;width:100%">
  <div class=" Menu-H" style="margin-left: auto;"><a href="/" class="text-white mx-2" style="font-weight: bolder;">HOME</a></div>
  <div class=" Menu-H"><a href="/changagoi" class="text-white mx-2" style="font-weight: bolder;">CHĂN GA GỐI</a></div>
  <div class=" Menu-H"><a href="/nem" class="text-white mx-2" style="font-weight: bolder;">ĐỆM</a></div>
  <div class=" Menu-H"><a class="text-white mx-2" style="font-weight: bolder;">BỘ SƯU TẬP</a></div>
  <div class=" Menu-H"><a class="text-white mx-2" style="font-weight: bolder;">PHỤ KIỆN</a></div>
  <div class=" Menu-H"><a class="text-white mx-2" style="font-weight: bolder;">KHUYẾN MÃI</a></div>
  <div class=" Menu-H"><a class="text-white mx-2" style="font-weight: bolder;">TIN TỨC</a></div>
    {% if countProduct %}
    <div class=" Menu-H"><a href="/card" class="position-relative mx-2" style="font-weight: bolder;color:chartreuse;">GIỎ HÀNG
      <span class="position-absolute bg-primary " style="color: rgb(255, 255, 255);top:-15px;font-size: small;border-radius: 999px;font-weight: bold;height: 20px;width: 20px;text-align: center;line-height:px;" >
        {{countProduct}}
      </span>
    </a></div>
  
    {% else %}
    <div class=" Menu-H"><a href="/card" class="text-white mx-2" style="font-weight: bolder;">GIỎ HÀNG</a></div>
    {% endif %}
  {% if user.is_authenticated %}
  <div style="margin-left:auto;;" class="Menu-H"><a style="color:yellow;font-weight: bolder;" class="">{{user.username}}</a></div>
  <div  class="nav-item login-logout Menu-H"><a style="font-weight: bolder" HREF="/logout" class="nav-link">ĐĂNG XUẤT</a></div>
  {% else %}
  <div style="margin-left:auto" class="Menu-H"><a class="text-white mx-2" style="font-weight: bolder;" HREF="/resign">ĐĂNG KÝ</a></div>
  <div  class="nav-item login-logout Menu-H"><a class="text-white mx-2" style="font-weight: bolder;" HREF="/login">ĐĂNG NHẬP</a></div>
  {% endif %}




  <div class="nav-item ChanGaGoi-menu Menu-V""><a href="/" class="m-4" style="font-weight: bolder;color:chartreuse;">BEDLINH</a></div>
  {% if countProduct %}
  <div style="margin-left: auto;" class="nav-item Menu-V"><a href="/card" class="position-relative" style="font-weight: bold;color: chartreuse;">GIỎ HÀNG
    <span class="position-absolute bg-primary" style="color: rgb(255, 255, 255);top:-15px;font-size: small;border-radius: 999px;font-weight: bold;height: 20px;width: 20px;text-align: center;line-height:px;" >
    {{countProduct}}
    </span></a></div>
    {% else %}
    <div style="margin-left: auto;"  class=" Menu-V"><a href="/card" class="text-white mx-2" style="font-weight: bolder;">GIỎ HÀNG</a></div>
    {% endif %}
  <div class="nav-item Menu-V">
      <a onclick="menuToggle()" HREF="#" class="mx-4" style="font-weight: bold;color: chartreuse;padding-right: 10px;">MENU</a>
      <div onclick="menuToggle()" class="Menu-V-content-remove">

      </div>
      <div class="Menu-V-content shadow">
          <a href="/changagoi" class="">Chăn Ga Gối</a>
          <a href="/nem" class="">Nệm</a>
          {% if user.is_authenticated %}
          <a class="">{{user.username}}</a>
          <a href="/logout" class="">LOGOUT</a>
          {% else %}
          <a href="/resign" class="">ĐĂNG KÝ</a>
          <a href="/login" class="">ĐĂNG NHẬP</a>
          {% endif %}
      </div>
  </div>
</div>
<script>
function menuToggle(){
$('.Menu-V-content').toggleClass('Menu-V-content-active')
$('.Menu-V-content a').toggleClass('Menu-V-content-active a')
$('.Menu-V-content-remove').toggleClass('Menu-V-content-remove-active')}
function removeMenu(){
$('.Menu-V-content').toggleClass('Menu-V-content-active')
$('.Menu-V-content a').toggleClass('Menu-V-content-active a')
$('.Menu-V-content-remove').toggleClass('Menu-V-content-remove-active')
}
</script>