
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Menu.css' %}">
<div class="d-flex justify-content-center align-items-center bg-warning Menu-Main" style="height:40px;width:100%">
  <div class="nav-item ChanGaGoi-menu Menu-H" style="width:150px;"><a class="nav-link"><img class="img-fluid" src="{% static 'media/logo/LOGO_BED_LINH.png' %}"></a></div>
  <div class=" Menu-H" style="margin-left: 40px;"><a href="/changagoi" class="text-black mx-2" style="font-weight: bolder;">CHĂN GA GỐI</a></div>
  <div class=" Menu-H"><a href="/nem" class="text-black mx-2" style="font-weight: bolder;">ĐỆM</a></div>
  <div class=" Menu-H"><a class="text-black mx-2" style="font-weight: bolder;">BỘ SƯU TẬP</a></div>
  <div class=" Menu-H"><a class="text-black mx-2" style="font-weight: bolder;">PHỤ KIỆN</a></div>
  <div class=" Menu-H"><a class="text-black mx-2" style="font-weight: bolder;">KHUYẾN MÃI</a></div>
  <div class=" Menu-H"><a class="text-black mx-2" style="font-weight: bolder;">TIN TỨC</a></div>
    {% if countProduct %}
  <div class="nav-item Menu-H"><a href="/card" class="nav-link position-relative text-black" style="font-weight: bold;">GIỎ HÀNG <span class="position-absolute bg-primary " style="color: rgb(255, 255, 255);top:5px;font-size: small;border-radius: 999px;font-weight: bold;height: 20px;width: 20px;text-align: center;line-height:px;" >
    {{countProduct}}
  </span></a></div>
    {% else %}
    <div class=" Menu-H"><a class="text-black mx-2" style="font-weight: bolder;">GIỎ HÀNG</a></div>
    {% endif %}
  {% if user.is_authenticated %}
  <div style="margin-left:auto;;" class="Menu-H"><a style="color:black;font-weight: bold;" class="">{{user.username}}</a></div>
  <div  class="nav-item login-logout Menu-H"><a HREF="/logout" class="nav-link">ĐĂNG XUẤT</a></div>
  {% else %}
  <div style="margin-left:auto" class="Menu-H"><a class="text-white mx-2" style="font-weight: bolder;" HREF="/resign">ĐĂNG KÝ</a></div>
  <div  class="nav-item login-logout Menu-H"><a class="text-white mx-2" style="font-weight: bolder;" HREF="/login">ĐĂNG NHẬP</a></div>
  {% endif %}




  <div class="nav-item ChanGaGoi-menu Menu-V" style="width:200px;"><a class="nav-link"><img class="img-fluid" src="{% static 'media/logo/LOGO_BED_LINH.png' %}"></a></div>
  {% if countProduct %}
  <div style="margin-left: auto;" class="nav-item Menu-V"><a href="/card" class="nav-link position-relative text-black" style="font-weight: bold;">GIỎ HÀNG
    <span class="position-absolute bg-primary" style="color: rgb(255, 255, 255);top:5px;font-size: small;border-radius: 999px;font-weight: bold;height: 20px;width: 20px;text-align: center;line-height:px;" >
    {{countProduct}}
    </span></a></div>
    {% else %}
    <div style="margin-left: auto;"  class=" Menu-V"><a class="text-black mx-2" style="font-weight: bolder;">GIỎ HÀNG</a></div>
    {% endif %}
  <div style="margin-left:auto" class="nav-item Menu-V">
      <a onclick="menuToggle()" HREF="#" class="nav-link text-black">.......</a>
      <div onclick="menuToggle()" class="Menu-V-content-remove">

      </div>
      <div class="Menu-V-content">
          <a href="/changagoi" class="">Chăn Ga Gối</a>
          <a href="/nem" class="">Nệm</a>
          {% if user.is_authenticated %}
          <a class="">{{user.username}}</a>
          <a href="/logout" class="">LOGOUT</a>
          {% else %}
          <a href="/resign" class="">ĐĂNG KÝ</a>
          <a href="/login" class="">ĐĂNG NHẬP</a>
          {% endif %}
      </div>
  </div>
</div>
<script>
function menuToggle(){
$('.Menu-V-content').toggleClass('Menu-V-content-active')
$('.Menu-V-content a').toggleClass('Menu-V-content-active a')
$('.Menu-V-content-remove').toggleClass('Menu-V-content-remove-active')}
function removeMenu(){
$('.Menu-V-content').toggleClass('Menu-V-content-active')
$('.Menu-V-content a').toggleClass('Menu-V-content-active a')
$('.Menu-V-content-remove').toggleClass('Menu-V-content-remove-active')
}
</script>