{% extends 'base.htm' %}
{% load static %}
{% block home %}
{% load tag_HomeSlide %}
{% load tag_menu %}
{% Menu %}
{% load tag_TinTuc %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Product/CardProduct.css' %}">

<div class='container Home-Slide-1'>
  
</div>
<div class='Home-Slide-2'>
  {% homeslide2 %}
</div>
<div class='Home-Slide-4' >
  {% homeslide3 %}
</div>
<div>
  {% TinTuc %}
</div>
<style>
  @media only screen and (max-width: 1100px){
    .Home-Slide-2{margin-top: 80px;}
  }
</style>

{% endblock %}
