
<!doctype html>
<html lang="en">
  <head>
      {% load tag_menu %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    
    

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>* {
      margin:0;
      padding:0;
      text-decoration:none;}</style>
  </head>
  <body style="overflow-x: hidden;">
  {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/Menu.css' %}">
<div class="d-flex justify-content-center align-items-center bg-warning Menu-Main" style="height:40px;width:100%">
  <div class="nav-item ChanGaGoi-menu Menu-H" style="width:150px;"><a class="nav-link"><img class="img-fluid" src="{% static 'media/logo/LOGO_BED_LINH.png' %}"></a></div>
  <div class="nav-item Menu-H"><a href="/changagoi" class="nav-link">CHĂN GA GỐI</a></div>
  <div class="nav-item Menu-H"><a href="/nem" class="nav-link">ĐỆM</a></div>
  <div class="nav-item Menu-H"><a class="nav-link">BỘ SƯU TẬP</a></div>
  <div class="nav-item Menu-H"><a class="nav-link">PHỤ KIỆN</a></div>
  <div class="nav-item Menu-H"><a class="nav-link">KHUYẾN MÃI</a></div>
  <div class="nav-item Menu-H"><a class="nav-link">TIN TỨC</a></div>

  {% if user.is_authenticated %}
  <div style="margin-left:auto;;" class="nav-item Menu-H"><a style="color:black;font-weight: bold;" class="nav-link ">{{user.username}}</a></div>
  <div  class="nav-item login-logout Menu-H"><a HREF="/logout" class="nav-link">ĐĂNG XUẤT</a></div>
  {% else %}
  <div style="margin-left:auto" class="nav-item Menu-H"><a HREF="/resign" class="nav-link">ĐĂNG KÝ</a></div>
  <div  class="nav-item login-logout Menu-H"><a HREF="/login" class="nav-link">ĐĂNG NHẬP</a></div>
  {% endif %}




  <div class="nav-item ChanGaGoi-menu Menu-V" style="width:200px;"><a class="nav-link"><img class="img-fluid" src="{% static 'media/logo/LOGO_BED_LINH.png' %}"></a></div>
  <div style="margin-left:auto" class="nav-item Menu-V">
      <a onclick="menuToggle()" HREF="#" class="nav-link">.......</a>
      <div onclick="menuToggle()" class="Menu-V-content-remove">

      </div>
      <div class="Menu-V-content">
          <a href="/changagoi" class="">Chăn Ga Gối</a>
          <a href="/nem" class="">Nệm</a>
          {% if user.is_authenticated %}
          <a class="">{{user.username}}</a>
          <a href="/logout" class="">LOGOUT</a>
          {% else %}
          <a href="/resign" class="">ĐĂNG KÝ</a>
          <a href="/login" class="">ĐĂNG NHẬP</a>
          {% endif %}
      </div>
  </div>
</div>
<script>
function menuToggle(){
$('.Menu-V-content').toggleClass('Menu-V-content-active')
$('.Menu-V-content a').toggleClass('Menu-V-content-active a')
$('.Menu-V-content-remove').toggleClass('Menu-V-content-remove-active')}
function removeMenu(){
$('.Menu-V-content').toggleClass('Menu-V-content-active')
$('.Menu-V-content a').toggleClass('Menu-V-content-active a')
$('.Menu-V-content-remove').toggleClass('Menu-V-content-remove-active')
}
</script>





    {% MenuTop %}
  
    

    {% block home %}
    {% endblock %}

    {% block login %}
    {% endblock %}

    {% block resign %}
    {% endblock %}

    {% block TestSlide %}
    {% endblock %}

    {% block ChanGaGoi %}
    {% endblock %}

    {% block Nem %}
    {% endblock %}
    {% block ThuongHieu %}
    {% endblock %}
    {% block BoSuuTap %}
    {% endblock %}

    {% block ProductDetail %}
    {% endblock %}

    {% block CardProduct %}
    {% endblock %}

    {% block Erro %}
    {% endblock %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>