{% extends 'base.htm' %}
{% load static %}
{% block home %}


<link rel="stylesheet" type="text/css" href="{% static 'css/Product/CardProduct.css' %}">

<div class="container" style=" margin-top: 60px;">
<div class="row  justify-content-center row-cols-xxl-5 row-cols-xl-5 row-cols-lg-4  row-cols-md-3 row-cols-2 ">

  <div class="col mt-2">
    <div class="card shadow" style="width: 13rem;border-radius: 1em;">
      <img src="{% static 'media/logo/cardtest-1.jpg' %}" class="card-img-top" alt="...">
      <div class="p-2">
        <h6 style="color: rgba(27, 29, 148, 0.712);font-weight: bold">Nệm Lò Xo A918</h5>
        <h6 style="margin-top: -0.2em;color: coral;">$999.9999đ</h6>
        <h6 style='margin-top: -0.3em;color: rgba(27, 29, 148, 0.712)'>Chất liệu: Nhung</ps>
        <h6 style="margin-top: -0.5em; font-size: small;color: rgba(27, 29, 148, 0.712)">Kích thước:</h6>
        <p style="margin-top:-0.5em;font-size:x-small;">130x120cm 130x120cm 130x120cm</a></p>
        <a href="#" class="btn btn-primary" style="width: 100%;">Đặt Mua Ngay</a>
      </div>
    </div>
  </div>
 
  <div class="col mt-2">
    <div class="card shadow" style="width: 13rem;border-radius: 1em;">
      <img src="{% static 'media/logo/cardtest-1.jpg' %}" class="card-img-top" alt="...">
      <div class="p-2">
        <h6 style="color: rgba(27, 29, 148, 0.712);font-weight: bold">Nệm Lò Xo A918</h5>
        <h6 style="margin-top: -0.2em;color: coral;">$999.9999đ</h6>
        <h6 style='margin-top: -0.3em;color: rgba(27, 29, 148, 0.712)'>Chất liệu: Nhung</ps>
        <h6 style="margin-top: -0.5em; font-size: small;color: rgba(27, 29, 148, 0.712)">Kích thước:</h6>
        <p style="margin-top:-0.5em;font-size:x-small;">130x120cm 130x120cm 130x120cm</a></p>
        <a href="#" class="btn btn-primary" style="width: 100%;">Đặt Mua Ngay</a>
      </div>
    </div>
  </div>

 
  
</div>
</div>


{% endblock %}