a{text-decoration: none;}
.Menu-V{display:none}
.nav-link:hover{color:white}
.nav-link{color:white}
.nav-item{padding:0px}
.ChanGaGoi-menu{margin-left: 80px;}
.login-logout{margin-right:100px}
@media only screen and (max-width: 1100px){
  .Menu-Main{position: fixed;left:0;top:0;z-index:1;}

 
  .Menu-H{display:none}
  .Menu-V{display:block;position:relative;}
  .Menu-V-content{z-index:1;
      visibility:hidden;
      position:absolute;
      height:100vh;top:40px;
      width: 0px;
      right:0;
      background-color:white;}
  .Menu-V-content a {visibility: hidden;
                    z-index:1;
                    padding: 10px;
                    padding-left: 70px;
                    height: 0px;
                    transition: 0.5s;}
  .Menu-V-content a:hover {background-color:yellow}
}

@media only screen and (max-width: 1350px){
  .ChanGaGoi-menu{margin-left: 10px;}
  .login-logout{margin-right:20px}
}
@media only screen and (max-width: 1200px){
  .ChanGaGoi-menu{margin-left: 0px;}
  .login-logout{margin-right:0px}
}

@media only screen and (max-width: 726px){
  .ChanGaGoi-menu{margin-left: 10px;}
}

.Menu-V-content-remove{position: absolute;display: none;
      height: 100vh;
      background-color: blue;
      width: 2000px;
      z-index:-1;;
      right:0;
      
      opacity: 0%;}
      
@keyframes fadeIns {
    from { width:300px;

     }
      to { width:0px;
      }

}
@keyframes fadeax {
    from { width:0px;

     }
      to { width:300px;
      }

}

.Menu-V-content-active{visibility:visible;width:300px;animation : fadeax 0.3s;}
.Menu-V-content-active a{display: block; height:40px;visibility: visible; transition: 0.5s;text-decoration: none;font-weight: bold;}
.Menu-V-content-remove-active{display: block;}
