* {
    box-sizing: border-box;
  }

.Khung1 {position: relative;}
.Khung1-nut{position: absolute;}
.prev{left: 0;top: 20%;}
.next{right: 0;top: 20%;}
.itemt {display: none;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 20px;
    margin: 20px;
    }

.itemt-active{display:grid;}


.Slide-warp{
    overflow:hidden;width: 200px;
}
.itemWarp{
    display: flex;
    transition: 1s;
    overflow-x: scroll;
    margin-bottom: -50px;
    }
 
.itemTest{background-color:rgb(114, 70, 12);
    height: 200px;width: 200px;;
    flex-shrink: 0;
}