.titleSlide{margin-top: 20px;}
.ProductMovie{margin-left: 0px;transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;}
.Product1-Hidden {margin-left: -795px;}
.NextButTon{width:7em;}

@media only screen and (max-width: 1400px){
    
  }
  @media only screen and (max-width: 1200px){
    
  }
  @media only screen and (max-width: 992px){
    
  }
  @media only screen and (max-width: 768px){
    
  }  
  @media only screen and (max-width: 576px){
    .NextButTon{display:none}
  }  