.titleSlide{margin-top: 40px;}
.ProductMovie1{margin-left: 0px;transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;}
.Product1-Hidden1 {margin-left: -795px;}
.NextButTon{position:absolute;top:10px;width:7em;right: 7em;}
@media only screen and (max-width: 1400px){
    .NextButTon{right: 6em;}
  }
  @media only screen and (max-width: 1200px){
    .NextButTon{right: 7em;}
  }
  @media only screen and (max-width: 992px){
    .NextButTon{right: 8em;}
  }
  @media only screen and (max-width: 768px){
    .NextButTon{display:none}
    .titleSlide{margin-top: 10px;}
  }  
  @media only screen and (max-width: 576px){
    
  }  